
<div class="container">
  <div class="cards">
    <div class="card">
      <h1 class="h2 my-3 d-flex justify-content-center">My credits</h1>
        <br>
          <ul>
              <% @liabilities.each do |liability| %>
              <li><%= link_to liability.loan_name, liability_path(liability) %></li>
              <%end %>
          </ul>
              <%= link_to "Add", new_liability_path, class: "add-bot"%>
      </div>
  </div>
</div>
