.bank-account {
  display: flex;
  align-items: center;
}

#display-flex-v {
  display: flex;
  align-items: center;
  height: 300px;
}

#img-flex-v {
  width: 200px;
}

.dashboard {
  display: flex;
  #myChart{
    width: 500px;
    height: 500px;
  }
  #myChart2{
    width: 500px;
    height: 500px;
  }
}
