


<header>
  <nav class="nav-main">
    <ul>
      <li><%= image_tag "https://kitt.lewagon.com/placeholder/users/ssaunier", class: "toggle-side-nav avatar", id: "navbarDropdown", data: { bs_toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %></li>
      <li><a href="#">Real Estates</a></li>
      <li><a href="#">Crypto</a></li>
      <li><a href="#">Customers</a></li>
      <li><a href="#">
        +</a>
        <ul>
          <li><a href="#">Real Estates</a></li>
          <li><a href="#">Crypto</a></li>
          <li><a href="#">Customers</a></li>
        </ul>
      </li>
    </ul>
    <button class="search" type="button">search</button>
  </nav>
</header>
<main class="main">
  <nav class="nav-offset">
    <div class="overlay"></div>
      <ul>
        <li><a href="#">Profil</a></li>
        <li><a href="#">Connexion</a></li>
        <li><a href="#">Instagram</a></li>
    </ul>
  </nav>
</main>
