<!--           <a class="mdl-navigation__link" href="">Dashboard</a>
          <a class="mdl-navigation__link" href="">Cards</a>
          <a class="mdl-navigation__link" href="">Mailbox</a>
          <a class="mdl-navigation__link" href="">Layouts</a> -->
        </nav>
      </div>
      <main id="main_content" class="mdl-layout__content">
        <div class="page-content">
          <div class="mdl-grid">
            <div class="mdl-cell mdl-cell--4-col mdl-card mdl-shadow--2dp" id="circlePercet1">
              <div class="mdl-card__title">
                <label class="loaderTxt">Monthly Income</label>
              </div>
              <div class="mdl-card__supporting-text">
                <canvas class="loaderP" id="my_canvas1" width="140" height="140"></canvas>
              </div>
          </div>
          <div class="mdl-cell mdl-cell--4-col mdl-card mdl-shadow--2dp" id="circlePercet2">
              <div class="mdl-card__title">
                <label class="loaderTxt">Total Income</label>
              </div>
              <div class="mdl-card__supporting-text">
                <canvas class="loaderP" id="my_canvas2" width="140" height="140"></canvas>
              </div>
            </div>
            <div class="mdl-cell mdl-cell--4-col mdl-card mdl-shadow--2dp" id="circlePercet3">
              <div class="PrgsBar">
                <label class="prgsTxt">Hourly</label>
                <div class="BgBar">
                  <div id="HourlyBar"></div>
                </div>
              </div>

              <div class="PrgsBar">
                <label class="prgsTxt">Last  Month</label>
                <div class="BgBar">
                  <div id="MonthlyBar"></div>
                </div>
              </div>

              <div class="PrgsBar">
                <label class="prgsTxt">Last Year</label>
                <div class="BgBar">
                  <div id="YearlyBar"></div>
                </div>
              </div>
            </div>
        </div>

          <div class="mdl-grid">
            <div class="mdl-cell mdl-cell--8-col mdl-card mdl-shadow--2dp">
              <div class="mdl-card__title"><label>Analytics</label></div>
            </div>

          </div>
      </main>

    </div>
