<div>
  <canvas id="myChart"></canvas>
</div>

<div id ="doughnuts" data-value1="15" data-value2=<%=@custom_invest %> >
</div>


<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

<script>
 const doughnuts = document.getElementById('doughnuts');
  const ctx = document.getElementById('myChart');
  console.log(doughnuts.dataset.value2)


  new Chart(ctx, {
    type: 'doughnut',
    data: {
      labels: ['Bank', 'Crypto', 'Yellow', 'Green', 'Purple', 'Orange'],
      datasets: [{
        label: '# of Votes',
        data: [doughnuts.dataset.value1,doughnuts.dataset.value2 , 3, 5, 2, 3],
        borderWidth: 1
      }]
    },
    options: {
      scales: {
        y: {
          beginAtZero: true
        }
      }
    }
  });
</script>


















<h1>Dashboard</h1>

<p>Patrimoine brut</p>
<p>Patrimoine net</p>
<p>Patrimoine financier</p>
