.crypto-form{
  opacity: 0.7;
  border-radius: 0.75rem;
  width: 800px;
  justify-content: center;
  box-shadow: #ffd700 0px 0px 24px;
  border: 1px solid rgba(244, 243, 245, 0.823);
  padding: 1.25rem 1.5rem;
  margin: 0.5rem;
  display: flex;
  flex-direction: column;
  font-size: 1.025rem;
  line-height: 1.5rem;
  --tw-text-opacity: 1;
  color: rgba(200,199,216,var(--tw-text-opacity));
  border-radius: 0.75rem;
  min-width: 280px !important
}

.booking-real input{
 margin-bottom: 10px;
 .btn {
display: block;
position: relative;
margin-left: auto;
margin-right: auto;
}
}

.liabilities{
  opacity: 0.7;
  border-radius: 5px;
  width: 800px;
  justify-content: center;
  box-shadow: #00FF01 0px 0px 24px;
  border: 1px solid rgba(244, 243, 245, 0.823);
  padding: 1.25rem 1.5rem;
  margin: 0.5rem;
  display: flex;
  flex-direction: column;
  font-size: 1.025rem;
  line-height: 1.5rem;
  --tw-text-opacity: 1;
  color: rgba(200,199,216,var(--tw-text-opacity));
  border-radius: 0.75rem;
  min-width: 280px !important
}

.liabilities input{
  margin-bottom: 10px;
  .btn {
 display: block;
 position: relative;
 margin-left: auto;
 margin-right: auto;
 }
 }

 .bank-form{
  opacity: 0.7;
  border-radius: 5px;
  width: 800px;
  justify-content: center;
  box-shadow: #F76865 0px 0px 24px;
  border: 1px solid rgba(244, 243, 245, 0.823);
  padding: 1.25rem 1.5rem;
  margin: 0.5rem;
  display: flex;
  flex-direction: column;
  font-size: 1.025rem;
  line-height: 1.5rem;
  --tw-text-opacity: 1;
  color: rgba(200,199,216,var(--tw-text-opacity));
  border-radius: 0.75rem;
  min-width: 280px !important
 }

 .custom-form{
  opacity: 0.7;
  border-radius: 5px;
  width: 800px;
  justify-content: center;
  box-shadow: #74EEEA 0px 0px 24px;
  border: 1px solid rgba(244, 243, 245, 0.823);
  padding: 1.25rem 1.5rem;
  margin: 0.5rem;
  display: flex;
  flex-direction: column;
  font-size: 1.025rem;
  line-height: 1.5rem;
  --tw-text-opacity: 1;
  color: rgba(200,199,216,var(--tw-text-opacity));
  border-radius: 0.75rem;
  min-width: 280px !important
 }


 .real-form{
  opacity: 0.7;
  border-radius: 5px;
  width: 800px;
  justify-content: center;
  box-shadow: #F11CB5 0px 0px 24px;
  border: 1px solid rgba(244, 243, 245, 0.823);
  padding: 1.25rem 1.5rem;
  margin: 0.5rem;
  display: flex;
  flex-direction: column;
  font-size: 1.025rem;
  line-height: 1.5rem;
  --tw-text-opacity: 1;
  color: rgba(200,199,216,var(--tw-text-opacity));
  border-radius: 0.75rem;
  min-width: 280px !important
 }
