.card-estate {
  box-shadow: #8b1679 0px 0px 24px;
  border: 1px solid rgba(244, 243, 245, 0.823);
  padding: 1.25rem 1.5rem;
  margin: 0.5rem;
  display:flex;
  flex-direction: column;
  align-items: center;
  --tw-text-opacity: 1;
  color: rgba(200,199,216,var(--tw-text-opacity));
  border-radius: 0.75rem;
  min-width: 280px !important;
  height: 150px;
  position: relative;
  overflow: hidden;

&:hover{
  // height: 280px;
  // width: 200px;
  animation-duration: 2000ms;
  animation-name: slidein;
  overflow: hidden;
  background-color: rgb(49, 49, 49);
  color: rgb(255, 255, 255);
  box-shadow: 0 0 15px #8b1679;
  opacity: 1;
  transition-duration: 4000ms;
  transition: opacity 1000ms;

  p{
    color:rgb(255, 255, 255);;
  }
}

@keyframes slidein {
  from {
    height: 200px;
  }
  to {
    height: 100%;
  }
}
animation:forwards;

h5{
  padding-top: 5px;
}

h6{
  padding-top: 5px;
  padding-bottom: 35px;
}


}




.card-custom {
  box-shadow: #07e2e2 0px 0px 24px;
  border: 1px solid rgba(244, 243, 245, 0.823);
  padding: 1.25rem 1.5rem;
  margin: 0.5rem;
  display: flex;
  flex-direction: column;
  font-size: 1.025rem;
  line-height: 1.5rem;
  --tw-text-opacity: 1;
  color: rgba(200,199,216,var(--tw-text-opacity));
  border-radius: 0.75rem;
  min-width: 280px !important;
  height: 150px;
  overflow: hidden;

  &:hover{
    animation-duration: 2000ms;
    animation-name: slidein;
    overflow: hidden;
    background-color: rgb(49, 49, 49);
    color: rgb(255, 255, 255);
    box-shadow: 0 0 15px #07e2e2;
    opacity: 1;
    transition-duration: 4000ms;
    transition: opacity 1000ms;

    p{
      color:rgb(255, 255, 255);
    }
  }

  @keyframes slidein {
    from {
      height: 200px;
    }
    to {
      height: 100%;
    }
  }
  animation:forwards;

  h5{
    padding-top: 5px;
  }

  h6{
    padding-top: 5px;
    padding-bottom: 35px;
  }
}

  .card-bank {
  box-shadow: #F76865 0px 0px 24px;
  border: 1px solid rgba(244, 243, 245, 0.823);
  padding: 1.25rem 1.5rem;
  margin: 0.5rem;
  display: flex;
  flex-direction: column;
  font-size: 1.025rem;
  line-height: 1.5rem;
  --tw-text-opacity: 1;
  color: rgba(200,199,216,var(--tw-text-opacity));
  border-radius: 0.75rem;
  min-width: 300px !important;
  height: 150px;
  overflow: hidden;

  &:hover{
    animation-duration: 2000ms;
    animation-name: slidein;
    overflow: hidden;
    background-color: rgb(49, 49, 49);
    color: rgb(255, 255, 255);
    box-shadow: 0 0 15px #F76865;
    opacity: 1;
    transition-duration: 4000ms;
    transition: opacity 1000ms;

    p{
      color:rgb(255, 255, 255);
    }
  }

  @keyframes slidein {
    from {
      height: 200px;
    }
    to {
      height: 100%;
    }
  }
  animation:forwards;

  h5{
    padding-top: 5px;
  }

  h6{
    padding-top: 5px;
    padding-bottom: 35px;
  }
}

    .card-liabilities {
      box-shadow: #00FF01 0px 0px 24px;
      border: 1px solid rgba(244, 243, 245, 0.823);
      padding: 1.25rem 1.5rem;
      margin: 0.5rem;
      display:flex;
      flex-direction: column;
      --tw-text-opacity: 1;
      color: rgba(200,199,216,var(--tw-text-opacity));
      border-radius: 0.75rem;
      min-width: 280px !important;
      height: 150px;
      position: relative;
      overflow: hidden;

    &:hover{
      // height: 280px;
      // width: 200px;
      animation-duration: 2000ms;
      animation-name: slidein;
      overflow: hidden;
      background-color: rgb(49, 49, 49);
      color: rgb(255, 255, 255);
      box-shadow: 0 0 15px #00FF01;
      opacity: 1;
      transition-duration: 4000ms;
      transition: opacity 1000ms;

      p{
        color:rgb(255, 255, 255);;
      }
    }

    @keyframes slidein {
      from {
        height: 200px;
      }
      to {
        height: 100%;
      }
    }
    animation:forwards;

    h5{
      padding-top: 5px;
    }

    h6{
      padding-top: 5px;
      padding-bottom: 35px;
    }
      }

#descrip{
  text-align: center;

  p{
    margin-top: 20px;
  }
}
#description{
  text-align: center;


  p{
    margin-top: 2px;
  }
}

.bottom-card{
  padding-top: 10px;
  display: flex;

  p{
    padding-left: 20px;
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
  }
}


.card-category {
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 180px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 24px;
  font-weight: bold;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  // border-radius: 5px O O O;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
}
.title-custom {
  border-bottom: solid;
  margin-bottom: 30px;

}
.card-blue{
    &:hover{
      box-shadow: 0 0 15px #74EEEA;
    }
}
.card-pink{
  &:hover{
    box-shadow: 0 0 15px #F11CB5;
  }
}
.card-yellow{
  &:hover{
    box-shadow: 0 0 15px #FFFE50;
  }
}
.card-red{
  &:hover{
    box-shadow: 0 0 15px #F76865;
  }
}
.card-green{
  &:hover{
    box-shadow: 0 0 15px #00FF01;
  }
}
