.card {
  background-size: cover;
  background-position: center;
  height: 350px;
  width: 300px;
  box-shadow: 0 0 10px rgba(0,0,0,0.2);
  display: flex;
  align-items: center;
  margin: 0 auto;
  overflow: hidden;
  font-size: 15px;
  color: rgb(0, 0, 0);
  border-radius: 15px;
  transition: box-shadow 250ms;
  opacity: 0.5;

  &:hover{
    box-shadow: 0 0 15px rgb(255, 255, 255);
    opacity: 1;
    transition: opacity 500ms;
  }

  a {
    color: black;

    :hover{
      opacity: 0.5;
    }
  }

  h3 {
    margin-top: 30px;
    margin-bottom: 30px;
  }

  h4 {
    margin: 4px;
  }

  p {
    margin-top: 0px;
    margin-bottom: 0px;
  }


  &__img{
    object-fit: cover;
    height: 300px;
    width: 100%;

    &--full{
    width: 100%;
    height: 100%;
    object-fit: cover;
    }
  }


  &__info{
    padding: 16px;
  }

  &__link{
    text-decoration: none;
    flex-direction: row;
    color: black;

    p{
      text-align: center;
      margin-top: 10px;
      font-size: 20px;
    }
  }
}
.add-bot{
  position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	z-index: 1;
	opacity: 0;

    a{
      text-decoration: none;
    }

}

#descrip{
  text-align: center;


  // h2{
  //   background-color: #F4F4F4;
  // }

  p{
    margin-top: 20px;
  }
}
#description{
  text-align: center;


  // h2{
  //   background-color: #F4F4F4;
  // }

  p{
    margin-top: 2px;
  }
}


.bottom-card{
  padding-top: 10px;
  display: flex;

  p{
    padding-left: 20px;
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
  }
}

.add_card_custom{
  margin-top: 100px;
}

.card-category {
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 180px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 24px;
  font-weight: bold;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  // border-radius: 5px O O O;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
}
.title-custom {
  border-bottom: solid;
  margin-bottom: 30px;

}
.card-blue{
    &:hover{
      box-shadow: 0 0 15px #74EEEA;
    }
}
.card-pink{
  &:hover{
    box-shadow: 0 0 15px #F11CB5;
  }
}
.card-yellow{
  &:hover{
    box-shadow: 0 0 15px #FFFE50;
  }
}
.card-red{
  &:hover{
    box-shadow: 0 0 15px #F76865;
  }
}
.card-green{
  &:hover{
    box-shadow: 0 0 15px #00FF01;
  }
}
