.contain{
  display: flex;
  }
  #reservation{
    margin-right: 35px;
    h2{
      margin-top: 10px;
      margin-bottom: 30px;
    }
  }
  .btn-medium {
    color: #999999;
    border: 1px solid #999999;
    padding: 15px 25px;
    border-radius: 15px;
    font-weight: lighter;
    opacity: 0.6;
    margin-top: 30px;
    text-decoration: none;

    &:hover {
      opacity: 1;
      color: #999999;
    }
  }

  .btn-retour{
    margin-top: 20px;
    margin-left: 15px;
    color: #999999;
    border: 1px solid #999999;
    padding: 15px 25px;
    border-radius: 15px;
    font-weight: lighter;
    opacity: 0.6;
    text-decoration: none;
    text-align: center;
    display: inline-block;

    &:hover {
      opacity: 1;
      color: #999999;
    }
  }
