.dashboard {
  margin-top: 50px;
  display: grid;
  grid-template-areas:
            "a b"
            "a c";
  .mychart1{
    grid-area: a;
    width: 600px;
    height: 600px;
  }
  .mychart2{
    grid-area: c;
    width: 600px;
    height: 600px;
  }
}
.diags {
  display: flex;

  grid-gap: 16px;
  padding: 16px;
  }
.diag{

  display: flex;
  align-items: flex-end;
}
.blocks{
  grid-area: b;
  display: flex;
}
.block{
  background-color: #1A1A1A;
  height: 300px;
  width: 200px;
  font-size: 15px;
  color: rgb(255, 255, 255);
  border-radius: 15px;
  transition: box-shadow 250ms;
  opacity: 0.5;
  margin: 20px;
  text-align: center;


  &:hover{
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    box-shadow: 0 0 15px rgb(255, 255, 255);
    opacity: 1;
    transition: opacity 1000ms;
  }

  h5{
    padding-top: 5px;
  }

  h6{
    padding-top: 5px;
    padding-bottom: 15px;
  }

  p{
    color:#1A1A1A;
    margin-top: 0px;

  }
  }
