.dashboard {
  // height: 800px;
  width: 100%;
  margin-top: 50px;
  // display: grid;
  display: flex;
  justify-content: space-around;
  padding: 0 10%;

  grid-template-areas:
            "a b"
            "a c";
  .mychart1{
    grid-area: a;
    width: 600px;
    height: 600px;
    margin-right: 0 !important;
  }
  .mychart2{
    grid-area: c;
    width: 700px;
    height: 400px;
  }
}
.diags {
  display: flex;

  grid-gap: 16px;
  padding: 16px;
  }
.diag{

  display: flex;
  align-items: flex-end;
}
.blocks{
  grid-area: b;
  display: flex;
  height: 300px;
}
.block{
  position: relative;
  background-color: #1A1A1A;
  height: 100px;
  width: 200px;
  font-size: 15px;
  color: rgb(255, 255, 255);
  border-radius: 15px;
  box-shadow: 0 0 15px rgb(255, 255, 255);
  transition: box-shadow 250ms;
  opacity: 0.5;
  margin: 20px;
  text-align: center;


  &:hover{
    // height: 280px;
    // width: 200px;
    animation-duration: 2000ms;
    animation-name: slidein;
    overflow: hidden;

    background-color: rgb(49, 49, 49);
    color: rgb(255, 255, 255);
    box-shadow: 0 0 15px rgb(255, 255, 255);
    opacity: 1;
    transition-duration: 4000ms;
    transition: opacity 1000ms;
    p{
      color:rgb(255, 255, 255);;
    }
  }

  @keyframes slidein {
    from {
      height: 200px;
    }
    to {
      height: 100%;
    }
  }

  h5{
    padding-top: 5px;
  }

  h6{
    padding-top: 5px;
    padding-bottom: 35px;
  }

  p{
    color:#1A1A1A;
    margin-top: 0px;

  }
  }
