
main {
  position: relative;
  font-family: 'Open Sans', sans-serif;
}

.toggle-side-nav {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  margin-right: 20px;
}

header {
  background: linear-gradient(to bottom, rgb(61, 61, 61), 10%, rgb(0, 0, 0));
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
  position: sticky;
  justify-content: center;
  display: flex;
  align-items: center;
  top: 0;
  z-index: 2;
  height: 60px;
  padding-bottom: 50px;
  padding-top: 30px;
  margin-bottom: 70px;
}

// .search {
//   position: absolute;
//   right: 20px;
//   top: 40px;
//   height: 40px;
//   width: 40px;
//   border-radius: 50%;
//   overflow: hidden;
// }
.nav-main {
  width: 100%;

  a{
    text-decoration: none;
    color: white;
    font-size: 30px;
    opacity: 0.5;
    &:hover{
      opacity: 1;
    }
  }
  ul {
    display: flex;
    align-items: center;
    list-style: none;
    padding: 0, 0, 0, 5px;
    margin: 0;

    li {
      position: relative;
      padding: 10px 20px 0 20px;

      &:first-child, &:last-child{
        margin-right: auto;
      }

      &:hover {
        > ul {
          opacity: 1;
          visibility: visible;
        }
      }

      > ul {
        opacity: 0;
        visibility: hidden;
        position: absolute;
        top: 100%;
        left: 0;
        width: 300px;
        background:  #000000;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: 10px;

        li {
          a {
            color: white;

          }

        }
      }
    }
  }
}

.nav-offset {

  ul {
    position: fixed;
    left: -100%;
    height: 100%;
    width: 200px;
    background:  #000000;
    padding: 20px;
    transition: left 250ms;
    top: 0;
    margin: 0;
  }
  .overlay {
    opacity: 0;
    visibility: hidden;
    transition: opacity 250ms;
  }

  &.active {

    ul {
    left: 0;
    }

    .overlay {
      background: rgba(0, 0, 0, 0.5);
      position: fixed;
      z-index: 1;
      left: 0;
      top: 0;
      height: 100%;
      width: 100%;
      opacity: 1;
      visibility: visible;
    }
  }


  ul {
    list-style: none;
    padding-left: 0;
    z-index: 2;
  }

  a{
    text-decoration: none;
    color: white;
    opacity: 0.5;
    &:hover{
      opacity: 1;
    }
  }
}
#yellow{
  a{
    text-decoration: none;
    font-size: 30px;
    opacity: 0.5;
    &:hover{
      color: #FFFE50;
      opacity: 1;
    }
  }
}
#pink{
  a{
    text-decoration: none;
    font-size: 30px;
    opacity: 0.7;
    &:hover{
      color: #F11CB5;
      opacity: 1;
    }
  }
}
#blue{
  a{
    text-decoration: none;
    font-size: 30px;
    opacity: 0.7;
    &:hover{
      color: #74EEEA;
      opacity: 1;
    }
  }
}
#red{
  a{
    text-decoration: none;
    font-size: 30px;
    opacity: 0.7;
    &:hover{
      color: #F76865;
      opacity: 1;
    }
  }
}
#green{
  a{
    text-decoration: none;
    font-size: 30px;
    opacity: 0.7;
    &:hover{
      color: #00FF01;
      opacity: 1;
    }
  }
}


#crypto :hover{
  color: #ffd700;

}

#loan :hover{
  color: #00FF01;
}

#bank :hover{
  color: #F76865;
}

#custom :hover{
  color: #74EEEA;
}

#property :hover{
  color: #F11CB5;
}
